# .github/workflows/release.yml
name: Release

on:
  workflow_dispatch:

#  push:
#    branches:
#      - 'main'


jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}
      
      - name: Build
        run: cargo build --release --target ${{ matrix.target }}
      
      - name: Create archive
        run: |
          cd target/${{ matrix.target }}/release
          tar czf your-time-tool-${{ matrix.target }}.tar.gz your-time-tool
          mv your-time-tool-${{ matrix.target }}.tar.gz ../../..
      
      - name: Upload to release
        uses: softprops/action-gh-release@v1
        with:
          files: your-time-tool-${{ matrix.target }}.tar.gz
